header {
    background-color: #336BFF;
    background-image: url(./img/pattern.png);
    background-size: 20%;
   
}
.logo {
    
    display: flex;
    height: 80px;
    padding: 20px;
}

#boolean {
    margin-top: 30px;
}

.paragrafo {
    line-height: 10%;
}

article {
    margin-top: 30px;
}

table {
    text-align: left;
    width: 100%;
}

th td {
    padding: 20 px;
}

thead th {
    background-color: #33C6FF;
    color: white;
}
tr:nth-child(odd) {
    background-color: #A5DEF5
}