header {
    background-color: #336BFF;
    background-image: url(./img/pattern.png);
    background-size: 20%;
   
}
.logo {
    
    display: flex;
    height: 80px;
    padding: 20px;
}

#boolean {
    margin-top: 30px;
}