* {
    margin: 0;
}
header {
    background-color: #077CE3;
    background-image: url(./img/pattern.png);
    background-size: 23%;
   
}

main {
    margin: 10px;
}



.logo {
    
    display: flex;
    height: 80px;
    padding: 20px;
}

#boolean {
    margin-top: 30px;
}

.paragrafo {
    margin-top: 10px;
    line-height: 90%;
}

article {
    margin-top: 30px;
    margin-bottom: 20px;
}

table {
    margin-top: 15px;
    text-align: left;
    width: auto;
    border-collapse: collapse;
}

th,td {
    
    padding-left: 10px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;

   
}

thead th {
    background-color: #33C6FF;
    color: white;
}
tr:nth-child(odd) {
    background-color: #A5DEF5
}
h3 {
    color: grey;
}

.img {
    margin-top: 10px;
    float: left;
}